<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="h2">
        {{ 'reset_password_title' | transloco }}
      </h1>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="password" class="form-label">{{
            'reset_password_new_pass' | transloco
          }}</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            [class.is-invalid]="submitted && f.password.errors"
          />
          @if (submitted && f.password.errors) {
          <div class="invalid-feedback">
            @if (f.password.errors.required) {
            <div>{{ 'reset_password_pass_required' | transloco }}</div>
            } @if (f.password.errors.minlength) {
            <div>{{ 'reset_password_pass_size' | transloco }}</div>
            }
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">
            {{ 'reset_password_pass_confirm' | transloco }}
          </label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
            [class.is-invalid]="submitted && f.confirmPassword.errors"
          />
          @if (submitted && f.confirmPassword.errors) {
          <div class="invalid-feedback">
            @if (f.confirmPassword.errors.required) {
            <div>{{ 'reset_password_pass_confirm_required' | transloco }}</div>
            } @if (f.confirmPassword.errors.matching) {
            <div>{{ 'reset_password_pass_matching' | transloco }}</div>
            }
          </div>
          }
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          @if (loading) {
          <span class="spinner-border spinner-border-sm me-1"></span>
          }
          {{ 'reset_password_action' | transloco }}
        </button>
      </form>
      @if(formInvalid) {
      <div class="alert alert-danger mt-3" role="alert">
        {{ 'reset_password_invalid' | transloco }}
      </div>
      } @if(formSuccess) {
      <div class="alert alert-success mt-3" role="alert">
        {{ 'reset_password_success' | transloco }}
      </div>
      }
    </div>
  </div>
</div>
