<div id="container_player">
    <youtube-player #youtubePlayer id="player" loadApi="false"></youtube-player>
</div>
<div id="liste_en_cours_content" class="card panel-content border-0">
    <table id="liste_en_cours" class="table table-hover table-sm">
        <tbody>
            @for (video of list; track video.id_video; let index = $index) {
            <tr (click)="play(index,true)" [ngClass]="{'active' : video.key===currentKey}">
                <td>
                    <img [appLazyLoadImage]="'https://img.youtube.com/vi/'+video.key+'/mqdefault.jpg'" class="thumbnail"
                        alt="" />
                </td>
                <td>
                    <p><strong>{{video.titre}}</strong></p>
                    <p>{{video.artiste}}</p>
                </td>
                <td>
                    <span class="btn btn-link btn-sm text-decoration-none text-body" (click)="$event.stopPropagation()"
                        ngbDropdown placement="left-top" role="presentation">
                        <span class="material-icons" role="button" ngbDropdownToggle>more_vert</span>
                        <ul ngbDropdownMenu>
                            <li ngbDropdownItem>
                                <button (click)="removeToPlaylist(index)"
                                    class="btn btn-link text-body text-decoration-none p-0">
                                    <span class="material-icons">clear</span>
                                    {{'supprimer_liste_lecture' | transloco}}
                                </button>
                            </li>
                            @if(isConnected) {
                            <li ngbDropdownItem>
                                <button
                                    (click)="playerService.addVideoInPlaylist(video.key,video.artiste,video.titre, video.duree)"
                                    class="btn btn-link text-body text-decoration-none p-0">
                                    <span class="material-icons">add</span>
                                    {{'ajouter_a_une_playlist' | transloco}}
                                </button>
                            </li>
                            }
                        </ul>
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>