<div id="header_top" class="row g-0 justify-content-between">
    <div id="header_burger" class="nav col-3 d-flex d-lg-none justify-content-center" ngbDropdown>
        <button class="btn" ngbDropdownToggle>
            <span class="material-icons">menu</span>
        </button>
        <ul ngbDropdownMenu>
            <li ngbDropdownItem>
                <a routerLink="/current" role="presentation" class="btn p-0">
                    <span class="material-icons">playlist_play</span>{{ 'play_list' | transloco }}
                </a>
            </li>
            <li class="dropdown-divider"></li>
            @if(!isConnected) {
            <li ngbDropdownItem>
                <a (click)="openModalRegister()" role="presentation">
                    <span class="material-icons">create_new_folder</span>{{'inscription' | transloco }}
                </a>
            </li>
            <li ngbDropdownItem>
                <a (click)="openModalLogin()" role="presentation">
                    <span class="material-icons">login</span>{{'connexion' |transloco }}
                </a>
            </li>
            }
            <li ngbDropdownItem>
                <a routerLink="/help" role="presentation" class="btn p-0">
                    <span class="material-icons">help</span>{{ 'help_title' | transloco }}
                </a>
            </li>
            @if(isConnected) {
            <li class="dropdown-divider"></li>
            <li ngbDropdownItem class="bg-primary text-white">
                {{pseudo}}
            </li>
            <li ngbDropdownItem>
                <a class="text-decoration-none text-body" routerLink="/like" role="button">
                    <span class="material-icons">favorite</span>{{ 'mes_likes' | transloco }}
                </a>
            </li>
            <li ngbDropdownItem>
                <a class="text-decoration-none text-body" routerLink="/my-playlists" role="button">
                    <span class="material-icons">library_music</span>{{ 'mes_playlists' | transloco }}
                </a>
            </li>
            <li ngbDropdownItem>
                <a class="text-decoration-none text-body" routerLink="/my-selection" role="button">
                    <span class="material-icons">favorite</span>{{ 'ma_selection' | transloco }}
                </a>
            </li>
            <li ngbDropdownItem>
                <a class="text-decoration-none text-body" routerLink="/settings" role="button">
                    <span class="material-icons">settings</span>{{ 'settings' | transloco }}
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <li ngbDropdownItem>
                <button (click)="onLogout()" class="btn btn-link text-body text-decoration-none p-0">
                    <span class="material-icons">power_settings_new</span>{{ 'deconnexion' | transloco}}
                </button>
            </li>
            }
        </ul>
    </div>

    <div id="header_logo" class="nav col-3">
        <a class="navbar-brand nav-item p-0" id="header_logo_lien" alt="" routerLink="">
            <img [src]="this.darkModeEnabled ? URL_ASSETS + 'assets/img/logo_dark.png' : URL_ASSETS + 'assets/img/logo.png'"
                [alt]=" 'home' | transloco " height="50" width="199" class="d-none d-lg-block mx-auto" />
            <img [src]="this.darkModeEnabled ?  URL_ASSETS + 'assets/img/logo_mobile_dark.png' : URL_ASSETS + 'assets/img/logo_mobile.png'"
                [alt]=" 'home' | transloco " class="d-lg-none" />
        </a>
    </div>

    <ul class="nav col-5 d-none d-lg-flex" id="header_nav">
        @if(isConnected) {
        <li class="nav-item align-self-center d-flex" ngbDropdown>
            <a id="header_toggle_big" class="btn btn-light" role="button" ngbDropdownToggle>
                {{pseudo}} <span class="caret"></span>
            </a>
            <ul ngbDropdownMenu>
                <li ngbDropdownItem>
                    <a class="text-decoration-none text-body" routerLink="/like" role="button">
                        <span class="material-icons">favorite</span>{{ 'mes_likes' | transloco }}
                    </a>
                </li>
                <li ngbDropdownItem>
                    <a class="text-decoration-none text-body" routerLink="/my-playlists" role="button">
                        <span class="material-icons">library_music</span>{{ 'mes_playlists' | transloco }}
                    </a>
                </li>
                <li ngbDropdownItem>
                    <a class="text-decoration-none text-body" routerLink="/my-selection" role="button">
                        <span class="material-icons">favorite</span>{{ 'ma_selection' | transloco }}
                    </a>
                </li>
                <li ngbDropdownItem>
                    <a class="text-decoration-none text-body" routerLink="/settings" role="button">
                        <span class="material-icons">settings</span>{{ 'settings' | transloco }}
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li ngbDropdownItem>
                    <button (click)="onLogout()" class="btn btn-link text-body text-decoration-none p-0">
                        <span class="material-icons">power_settings_new</span>{{ 'deconnexion' | transloco}}
                    </button>
                </li>
            </ul>
        </li>
        }
        @else{
        <li id="header_li_inscription" class="nav-item align-self-center d-flex d-none d-lg-block">
            <a class="btn btn-warning btn-outline-warning text-light" (click)="openModalRegister()" role="presentation">
                {{'inscription' | transloco }}
            </a>
        </li>
        <li id="header_li_connexion" class="nav-item align-self-center d-flex d-none d-lg-block">
            <a class="btn btn-primary text-light" (click)="openModalLogin()" role="presentation">
                {{'connexion' |transloco }}
            </a>
        </li>
        }

        <li id="header_li_help" class="nav-item align-self-center d-flex">
            <a class="btn btn-light" routerLink="/help" role="presentation">
                <span class="material-icons">help</span>
            </a>
        </li>
    </ul>

    <div id="header_recherche" class="navbar-form navbar-right col-4 my-auto">
        <app-search-bar></app-search-bar>
    </div>
</div>

<div id="header_player" class="row g-0" [class.expanded]="isPlayerExpanded" appSwipeDown (swipeDown)="collapsePlayer()">

    <button id="header_player_collapse" class="btn btn-link" (click)="collapsePlayer()" role="presentation">
        <span class="material-icons">keyboard_arrow_down</span>
    </button>

    <div id="header_player_gauche" class="col-md-3 pl-2 pt-2">
        @if(isConnected && playerService.isLiked(currentKey)){
        <button id="header_player_gauche_liked" class="btn btn-sm btn-link text-decoration-none float-end"
            (click)="$event.stopPropagation();playerService.removeLike(currentKey)" role="presentation">
            <span class="material-icons">favorite</span>
        </button>
        }
        @if(isConnected && !playerService.isLiked(currentKey)){
        <button id="header_player_gauche_like" class="btn btn-sm btn-link text-decoration-none text-body float-end"
            (click)="$event.stopPropagation();playerService.addLike(currentKey)" role="presentation">
            <span class="material-icons">favorite_border</span>
        </button>
        }
        @if(currentKey){
        <img [src]="'https://img.youtube.com/vi/'+currentKey+'/mqdefault.jpg'" class="float-start" alt="" />
        }
        <div><b>{{currentTitle}}</b></div>
        <div>{{currentArtist}}</div>
    </div>

    <div id="header_player_centre" class="col-md-6">
        <div class="pl-lg-5 pr-lg-5 ml-lg-5 mr-lg-5">
            <a id="header_player_centre_title" class="btn btn-light d-inline-block d-md-none" (click)="expandPlayer()"
                role="presentation">
                <div><b>{{currentTitle}}</b></div>
                <div>{{currentArtist}}</div>
            </a>

            <div class="btn-group btn-group-sm">
                <a class="btn text-light w-100  d-none d-md-block"
                    [class.disabled]="playerService.currentIndex === 0 && currentTimeStr === '0:00'"
                    [class.border-0]="playerService.currentIndex === 0 && currentTimeStr === '0:00'"
                    (click)="onBefore()" role="presentation">
                    <span class="material-icons">skip_previous</span>
                </a>
                <a id="play_button" class="btn text-light" (click)="onPlayPause()" role="presentation">
                    @if(isPlaying){
                    <span class="material-icons">pause</span>
                    }@else{
                    <span class="material-icons">play_arrow</span>
                    }
                </a>
                <a class="btn text-light w-100  d-none d-md-block"
                    [class.disabled]="playerService.currentIndex === playerService?.tabIndex?.length - 1"
                    [class.border-0]="playerService.currentIndex === playerService?.tabIndex?.length - 1"
                    (click)="onAfter()" role="presentation">
                    <span class="material-icons">skip_next</span>
                </a>
            </div>

            <div id="header_player_centre_more_actions" class="btn-group btn-group-sm float-end d-none d-md-block">
                <a (click)="goFullscreen('player')" class="btn text-light" placement="top"
                    ngbTooltip="{{'video_plein_ecran' | transloco}}" role="presentation">
                    <span class="material-icons">fullscreen</span>
                </a>
                <a id="repeat" class="btn text-light" [class.active]="isRepeat" (click)="repeat()" placement="top"
                    ngbTooltip="{{'repetition' | transloco}}" role="presentation">
                    <span class="material-icons">repeat</span>
                </a>
                <a id="random" class="btn text-light" [class.active]="isRandom" (click)="random()" placement="top"
                    ngbTooltip="{{'lecture_aleatoire' | transloco}}" role="presentation">
                    <span class="material-icons">shuffle</span>
                </a>
            </div>
        </div>

        <div id="header_player_center_load">
            <div id="chrono_en_cours">{{ currentTimeStr }}</div>
            <div id="slider_1_main">
                <div id="slider_1_content" class="ui-slider" (click)="onClickSliderPlayer($event)" #contentSlider1
                    role="presentation">
                    @if(isBrowser){
                    <span class="ui-slider-handle" #sliderPlayer [style.left.%]="valueSliderPlayer" ngDraggable
                        [bounds]="contentSlider1" [inBounds]="true" lockAxis="y" preventDefaultEvent="true"
                        (movingOffset)="onDragMovingPlayer($event)" (endOffset)="onDragEndPlayer($event)"></span>
                    }
                </div>
                <div id="load_video" [style.width.%]="loadVideo"></div>
                <div id="load_video_current" [style.width.%]="valueSliderPlayer"></div>
            </div>
            <div id="chrono_total">{{ totalTimeStr }}</div>
        </div>
    </div>

    <div id="header_player_droite" class="col-md-3 my-auto">
        <div id="header_player_volume_content" class="mx-auto">
            <span class="material-icons text-light">volume_up</span>
            <div id="slider_2_main">
                <div id="slider_2_content" class="ui-slider" (click)="onClickSliderVolume($event)" #contentSlider2
                    role="presentation">
                    @if(isBrowser) {
                    <span class="ui-slider-handle" #sliderVolume [style.left.%]="valueSliderVolume" ngDraggable
                        [bounds]="contentSlider2" [inBounds]="true" lockAxis="y" preventDefaultEvent="true"
                        (movingOffset)="onDragMovingVolume($event)" (endOffset)="onDragEndVolume($event)"></span>
                    }
                </div>
                <div id="load_volume_current" [style.width.%]="valueSliderVolume"></div>
            </div>
        </div>
    </div>

</div>

<ng-template #contentModalRegister let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'inscription' | transloco}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p class="bg-info p-2 rounded">{{ 'inscription_description' | transloco }}</p>
        <div id="google-register-button-header" class="my-3"></div>
        <div class="d-flex align-items-center my-3">
            <hr class="flex-grow-1" />
            <span class="mx-2">
                {{ 'or' | transloco}}
            </span>
            <hr class="flex-grow-1" />
        </div>
        @if(!isRegistered){
        <form (ngSubmit)="onSubmitRegister(formRegister)" #formRegister="ngForm">
            <p class="form-group">
                <label class="control-label" for="pseudo">{{ 'pseudo' | transloco}}</label>
                <input type="text" name="pseudo" id="pseudo" class="form-control" minlength="4" ngbAutofocus ngModel
                    required />
            </p>
            <p class="form-group">
                <label class="control-label" for="mail">{{ 'mail' | transloco}}</label>
                <input type="text" name="mail" id="mail" class="form-control" ngModel required email />
            </p>
            <p class="form-group">
                <label class="control-label" for="password">{{ 'mot_de_passe' | transloco}}</label>
                <input type="password" name="password" id="password" class="form-control" minlength="4" ngModel
                    required />
            </p>
            <p><input type="submit" class="btn btn-primary" [disabled]="formRegister.invalid"
                    value="{{ 'je_m_inscris' | transloco}}" /></p>
            @if(formRegister.dirty && error!=='') {
            <p class="alert alert-danger">{{error}}</p>
            }
        </form>
        } @else {
        <div>
            <p class="alert alert-success">{{ 'inscription_succes' | transloco }}</p>
            <p><a (click)="modal.dismiss(''); openModalLogin()" class="text-decoration-underline" role="presentation">{{
                    'connexion' | transloco}}</a></p>
        </div>
        }
    </div>
</ng-template>

<ng-template #contentModalLogin let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'connexion' | transloco}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div id="google-signin-button-header" class="my-3"></div>
        <div class="d-flex align-items-center my-3">
            <hr class="flex-grow-1" />
            <span class="mx-2">
                {{ 'or' | transloco}}
            </span>
            <hr class="flex-grow-1" />
        </div>
        <form (ngSubmit)="onLogIn(formLogIn, modal)" #formLogIn="ngForm">
            <p class="form-group">
                <label class="control-label" for="pseudo">{{ 'pseudo_ou_mail' | transloco}}</label>
                <input type="text" name="pseudo" id="pseudo" class="form-control" minlength="4" ngbAutofocus ngModel
                    required />
            </p>
            <p class="form-group">
                <label class="control-label" for="password">{{ 'mot_de_passe' | transloco}}</label>
                <input type="password" name="password" id="password" class="form-control" minlength="4" ngModel
                    required />
            </p>
            <p><input type="submit" class="btn btn-primary" [disabled]="formLogIn.invalid"
                    value="{{ 'connexion' | transloco}}" /></p>
            @if(formLogIn.dirty && error!==''){
            <p class="alert alert-danger">{{error}}</p>
            }

            <p><a (click)="modal.dismiss(''); openModal(contentModalNewPass)" class="text-decoration-underline"
                    role="presentation">{{ 'mot_de_passe_oublie' | transloco}}</a>
            </p>
        </form>
    </div>
</ng-template>

<ng-template #contentModalNewPass let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'mot_de_passe_oublie' | transloco}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        @if(!isSuccess){
        <form (ngSubmit)="onSubmitResetPass(formResetPass)" #formResetPass="ngForm">
            <p class="form-group">
                <label class="control-label" for="mail">{{ 'mail' | transloco}}</label>
                <input type="text" name="mail" id="mail" class="form-control" ngbAutofocus ngModel required email />
            </p>
            <p><input type="submit" class="btn btn-primary" [disabled]="formResetPass.invalid"
                    value="{{ 'envoyer' | transloco}}" /></p>
            @if(formResetPass.dirty && error!=='') {
            <p class="alert alert-danger">{{error}}</p>
            }
        </form>
        } @else {
        <p class="alert alert-success">{{ 'mail_pass_envoye_succes' | transloco }}</p>
        }
    </div>
</ng-template>

<ng-template #contentModalAddVideo let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'ajouter_musique_playlist' | transloco}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>{{'ajouter' | transloco}}: {{addTitle}} {{addArtist}}</p>
        @if(error!==''){
        <p class="alert alert-danger">{{error}}</p>
        }
        @if (listPlaylist.length===0) {
        <div class="bg-info p-2 rounded">
            {{ 'ajouter_musique_playlist_empty' | transloco }}
        </div>
        }
        <table class="table">
            @for (playlist of listPlaylist; track playlist.id_playlist) {
            <tr>
                <td>
                    <bouton class="btn btn-link" (click)="onAddVideo(playlist.id_playlist, modal)">
                        {{playlist.titre}}
                    </bouton>
                </td>
            </tr>
            }
        </table>
    </div>
</ng-template>