<div id="header_top" class="row no-gutters">
    <div id="header_logo" class="col-3">
        <a class="navbar-brand p-0" id="header_logo_lien" routerLink="">
            <img src="{{URL_ASSETS}}assets/img/logo.png"  />
            <span class="material-icons">home</span>
        </a>
    </div>

    <ul class="nav col-5 align-self-center" id="header_nav">
        <li id="content_facebook_button" class="nav-item" style="width:120px;">
            <a class="nav-link">
                <fb-like href="//www.facebook.com/zeffyrmusic" layout="button_count" action="like" show-faces="false"
                    share="false" width="80"></fb-like>
            </a>
        </li>

        <li *ngIf="isConnected" class="nav-item align-self-center" ngbDropdown>
            <a class="nav-link" id="header_toggle_mini" ngbDropdownToggle>
                <span class="material-icons">menu</span>
            </a>
            <a id="header_toggle_big" class="btn btn-light" ngbDropdownToggle>
                {{pseudo}} <span class="caret"></span>
            </a>
            <ul ngbDropdownMenu>
                <li ngbDropdownItem>
                    <a class="text-decoration-none text-body" routerLink="/like">
                        <span class="material-icons">favorite</span>{{ 'mes_likes' | transloco }}
                    </a>
                </li>
                <li ngbDropdownItem>
                    <a (click)="openModal(contentModalPlaylists)">
                        <span class="material-icons">library_music</span>{{ 'mes_playlists' | transloco }}
                    </a>
                </li>
                <li ngbDropdownItem>
                    <a (click)="openModal(contentModalFollows)">
                        <span class="material-icons">favorite</span>{{ 'ma_selection' | transloco }}
                    </a>
                </li>
                <li ngbDropdownItem>
                    <a (click)="openModal(contentModalEditMail)">
                        <span class="material-icons">email</span>{{ 'modifier_mail' | transloco}}
                    </a>
                </li>
                <li ngbDropdownItem>
                    <a (click)="openModal(contentModalEditPass)">
                        <span class="material-icons">lock</span>{{ 'modifier_mot_de_passe' | transloco}}
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li ngbDropdownItem>
                    <a (click)="onLogout()">
                        <span class="material-icons">power_settings_new</span>{{ 'deconnexion' | transloco}}
                    </a>
                </li>
            </ul>
        </li>

        <li id="header_li_inscription" class="nav-item" *ngIf="!isConnected">
            <a class="nav-link btn btn-outline-warning text-warning" (click)="openModal(contentModalRegister)">{{ 'inscription' | transloco }}</a>
        </li>
        <li id="header_li_connexion" class="nav-item" *ngIf="!isConnected">
            <a class="nav-link btn btn-primary text-light" (click)="openModal(contentModalLogin)">{{ 'connexion' | transloco }}</a>
        </li>

    </ul>

    <div id="header_recherche" class="navbar-form navbar-right col-4 my-auto">
        <app-search-bar></app-search-bar>
    </div>
</div>

<div id="header_player" class="row no-gutters">

    <div id="header_player_gauche" class="col-md-3 pl-2 pt-2">
        <span *ngIf="isConnected && playerService.isLiked(currentKey)"
            class="btn btn-sm btn-link text-decoration-none float-right"
            (click)="$event.stopPropagation();playerService.removeLike(currentKey)" >
            <span class="material-icons">favorite</span>
        </span>
        <span *ngIf="isConnected && !playerService.isLiked(currentKey)"
            class="btn btn-sm btn-link text-decoration-none text-body float-right"
            (click)="$event.stopPropagation();playerService.addLike(currentKey)" >
            <span class="material-icons">favorite_border</span>
        </span>
        <img [src]="'https://img.youtube.com/vi/'+currentKey+'/mqdefault.jpg'" *ngIf="currentKey" class="float-left " />
        <div><b>{{currentTitle}}</b></div>
        <div>{{currentArtist}}</div>
    </div>

    <div id="header_player_centre" class="col-md-6">
        <div class="pl-lg-5 pr-lg-5 ml-lg-5 mr-lg-5">
            <div class="btn-group btn-group-sm">
                <a class="btn text-light w-100" (click)="onBefore()">
                    <span class="material-icons">skip_previous</span>
                </a>
                <a id="play_button" class="btn text-light w-100" (click)="onPlayPause()">
                    <span *ngIf="isPlaying" class="material-icons">pause</span>
                    <span *ngIf="!isPlaying" class="material-icons">play_arrow</span>
                </a>
                <a class="btn text-light w-100" (click)="onAfter()">
                    <span class="material-icons">skip_next</span>
                </a>
            </div>

            <div class="btn-group btn-group-sm float-right">
                <a (click)="goFullscreen('player')" class="btn text-light" placement="top"
                    ngbTooltip="{{'video_plein_ecran' | transloco}}">
                    <span class="material-icons">fullscreen</span>
                </a>
                <a id="repeat" class="btn text-light" [ngClass]="{'active':isRepeat}" (click)="repeat()"
                    placement="top" ngbTooltip="{{'repetition' | transloco}}">
                    <span class="material-icons">repeat</span>
                </a>
                <a id="random" class="btn text-light" [ngClass]="{'active': isRandom}" (click)="random()"
                    placement="top" ngbTooltip="{{'lecture_aleatoire' | transloco}}">
                    <span class="material-icons">shuffle</span>
                </a>
            </div>
        </div>

        <div id="header_player_center_load">
            <div id="chrono_en_cours">{{ currentTimeStr }}</div>
            <div id="slider_1_main">
                <div id="slider_1_content" class="ui-slider" (click)="onClickSliderPlayer($event)" #contentSlider1>
                    <span class="ui-slider-handle" #sliderPlayer [style.left.%]="valueSliderPlayer" ngDraggable
                        [bounds]="contentSlider1" [inBounds]="true" lockAxis="y" preventDefaultEvent="true"
                        (movingOffset)="onDragMovingPlayer($event)" (endOffset)="onDragEndPlayer($event)"></span>
                </div>
                <div id="load_video" [style.width.%]="loadVideo"></div>
                <div id="load_video_current" [style.width.%]="valueSliderPlayer"></div>
            </div>
            <div id="chrono_total">{{ totalTimeStr }}</div>
        </div>
    </div>

    <div id="header_player_droite" class="col-md-3 my-auto">
        <div id="header_player_volume_content" class="mx-auto">
            <span class="material-icons text-light">volume_up</span>
            <div id="slider_2_main">
                <div id="slider_2_content" class="ui-slider" (click)="onClickSliderVolume($event)" #contentSlider2>
                    <span class="ui-slider-handle" #sliderVolume [style.left.%]="valueSliderVolume" ngDraggable
                        [bounds]="contentSlider2" [inBounds]="true" lockAxis="y" preventDefaultEvent="true"
                        (movingOffset)="onDragMovingVolume($event)" (endOffset)="onDragEndVolume($event)"></span>
                </div>
                <div id="load_volume_current" [style.width.%]="valueSliderVolume"></div>
            </div>
        </div>
    </div>

</div>

<ng-template #contentModalRegister let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'inscription' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="bg-info p-2 rounded">{{ 'inscription_description' | transloco }}</p>
        <form *ngIf="!isRegistered" (ngSubmit)="onSubmitRegister(formRegister)" #formRegister="ngForm">
            <p class="form-group">
                <label class="control-label" for="pseudo">{{ 'pseudo' | transloco}}</label>
                <input type="text" name="pseudo" id="pseudo" class="form-control" minlength="4" ngbAutofocus ngModel
                    required />
            </p>
            <p class="form-group">
                <label class="control-label" for="mail">{{ 'mail' | transloco}}</label>
                <input type="text" name="mail" id="mail" class="form-control" ngModel required email />
            </p>
            <p class="form-group">
                <label class="control-label" for="password">{{ 'mot_de_passe' | transloco}}</label>
                <input type="password" name="password" id="password" class="form-control" minlength="4" ngModel
                    required />
            </p>
            <p><input type="submit" class="btn btn-primary" [disabled]="formRegister.invalid"
                    value="{{ 'je_m_inscris' | transloco}}" /></p>
            <p *ngIf="formRegister.dirty && error!=''" class="alert alert-danger">{{error}}</p>
        </form>
        <div *ngIf="isRegistered">
            <p class="alert alert-success">{{ 'inscription_succes' | transloco }}</p>
            <p><a (click)="modal.dismiss(''); openModal(contentModalLogin)">{{ 'connexion' | transloco}}</a></p>
        </div>
    </div>
</ng-template>

<ng-template #contentModalLogin let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'connexion' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onLogIn(formLogIn, modal)" #formLogIn="ngForm">
            <p class="form-group">
                <label class="control-label" for="pseudo">{{ 'pseudo_ou_mail' | transloco}}</label>
                <input type="text" name="pseudo" id="pseudo" class="form-control" minlength="4" ngbAutofocus ngModel
                    required />
            </p>
            <p class="form-group">
                <label class="control-label" for="password">{{ 'mot_de_passe' | transloco}}</label>
                <input type="password" name="password" id="password" class="form-control" minlength="4" ngModel
                    required />
            </p>
            <p><input type="submit" class="btn btn-primary" [disabled]="formLogIn.invalid"
                    value="{{ 'connexion' | transloco}}" /></p>
            <p *ngIf="formLogIn.dirty && error!=''" class="alert alert-danger">{{error}}</p>

            <p><a (click)="modal.dismiss(''); openModal(contentModalNewPass)">{{ 'mot_de_passe_oublie' | transloco}}</a>
            </p>
        </form>
    </div>
</ng-template>

<ng-template #contentModalNewPass let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'mot_de_passe_oublie' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form *ngIf="!isSuccess" (ngSubmit)="onSumbitResetPass(formResetPass)" #formResetPass="ngForm">
            <p class="form-group">
                <label class="control-label" for="mail">{{ 'mail' | transloco}}</label>
                <input type="text" name="mail" id="mail" class="form-control" ngbAutofocus ngModel required email />
            </p>
            <p><input type="submit" class="btn btn-primary" [disabled]="formResetPass.invalid"
                    value="{{ 'envoyer' | transloco}}" /></p>
            <p *ngIf="formResetPass.dirty && error!=''" class="alert alert-danger">{{error}}</p>
        </form>
        <p *ngIf="isSuccess" class="alert alert-success">{{ 'mail_pass_envoye_succes' | transloco }}</p>
    </div>
</ng-template>

<ng-template #contentModalEditPass let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'modifier_mot_de_passe' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmitEditPass(formEditPass)" #formEditPass="ngForm">
            <p class="form-group">
                <label class="control-label" for="passwordold">{{ 'mot_de_passe_actuel' | transloco}}</label>
                <input type="password" name="passwordold" id="passwordold" class="form-control" ngbAutofocus ngModel
                    required />
            </p>
            <p class="form-group">
                <label class="control-label" for="password1">{{ 'mot_de_passe_nouveau' | transloco}}</label>
                <input type="password" name="password1" id="password1" class="form-control" ngModel required />
            </p>
            <p class="form-group">
                <label class="control-label" for="password2">{{ 'mot_de_passe_repeter' | transloco}}</label>
                <input type="password" name="password2" id="password2" class="form-control" ngModel required />
            </p>

            <p><input type="submit" class="btn btn-primary" [disabled]="formEditPass.invalid"
                    value="{{ 'envoyer' | transloco}}" /></p>
            <p *ngIf="formEditPass.dirty && error!=''" class="alert alert-danger">{{error}}</p>
            <p *ngIf="successPass" class="alert alert-success">{{ 'mot_de_passe_modifie_succes' | transloco }}</p>
        </form>
    </div>
</ng-template>

<ng-template #contentModalEditMail let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'modifier_mail' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmitEditMail(formEditMail)" #formEditMail="ngForm">
            <p class="form-group">
                <label class="control-label" for="mail">{{ 'mail' | transloco}}</label>
                <input type="text" name="mail" id="mail" class="form-control" ngbAutofocus [(ngModel)]="mail" required
                    email />
            </p>

            <p><input type="submit" class="btn btn-primary" [disabled]="formEditMail.invalid"
                    value="{{ 'envoyer' | transloco}}" /></p>
            <p *ngIf="formEditMail.dirty && error!=''" class="alert alert-danger">{{error}}</p>
            <p *ngIf="successMail" class="alert alert-success">{{ 'mot_de_passe_modifie_succes' | transloco }}</p>
        </form>
    </div>
</ng-template>

<ng-template #contentModalPlaylists let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'mes_playlists' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onCreatePlaylist(formCreatePlaylist)" #formCreatePlaylist="ngForm">
            <div class="input-group">
                <input type="text" class="form-control" name="titre"
                    placeholder="{{ 'creer_nouvelle_playlist' | transloco }}" ngbAutofocus ngModel required>
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" [disabled]="formCreatePlaylist.invalid"
                        value="{{ 'creer' | transloco }}" />
                </span>
            </div>
        </form>
        <hr />
        <table class="table table-condensed" id="tableau_musique">
            <tr *ngFor="let playlist of listPlaylist">
                <td>
                    <a (click)="onCloseModalPlaylists(playlist.id_playlist,modal)">{{playlist.titre}}</a>
                </td>

                <td>
                    <a (click)="onConfirmEditTitlePlaylist(playlist.id_playlist,playlist.titre, contentModalConfirmEditTitle)">
                        <span class="material-icons" 
                                placement="right"
                                ngbTooltip="{{'modifier_nom' | transloco}}">edit</span>
                    </a>
                </td>

                <td>
                    <div class="btn-group btn-group-sm">
                        <button type="button" [ngClass]="{'btn btn-light' : true,
                                                            'active' : !playlist.prive}"
                            (click)="onSwitchVisibility(playlist.id_playlist,'public')">{{ 'public' | transloco }}</button>
                        <button type="button" [ngClass]="{'btn btn-light' : true,
                                                            'active' : playlist.prive}"
                            (click)="onSwitchVisibility(playlist.id_playlist,'prive')">{{ 'prive' | transloco }}</button>
                    </div>
                </td>

                <td>
                    <a (click)="onConfirmDeletePlaylist(playlist.id_playlist, contentModalConfirmDeletePlaylist)">
                        <span class="material-icons"
                            placement="right" ngbTooltip="{{'supprimer' | transloco}}">clear</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #contentModalFollows let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'ma_selection' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-condensed" id="tableau_selection">
            <tr *ngFor="let playlist of listFollow">
                <td>
                    <a class="btn btn-link"
                        (click)="onCloseModalPlaylists(playlist.id_playlist, modal)">{{playlist.titre}}</a>
                </td>

                <td>
                    <a (click)="onDeleteFollow(playlist.id_playlist)" placement="right"
                        ngbTooltip="{{'supprimer' | transloco}}">
                        <span class="material-icons">clear</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #contentModalConfirmDeletePlaylist let-modal>
    <div class="modal-body">
        {{ 'supprimer_playlist_confirmer' | transloco  }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close('Save click')">{{ 'annuler' | transloco}}</button>
        <button type="button" class="btn btn-primary" (click)="onDeletePlaylist(modal)">{{ 'confirmer' | transloco}}</button>
    </div>
</ng-template>

<ng-template #contentModalConfirmEditTitle let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'playlist_modifier_titre' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onEditTitlePlaylist(formEditTitle, modal)" #formEditTitle="ngForm">
            <div class="input-group">
                <input type="text" class="form-control" name="playlist_titre" [(ngModel)]="playlistTitle" required>
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" [disabled]="formEditTitle.invalid"
                            value="{{ 'modifier' | transloco }}" />
                </span>
            </div>
            <p *ngIf="formEditTitle.dirty && error!=''" class="alert alert-danger">{{error}}</p>
        </form>
    </div>
</ng-template>

<ng-template #contentModalAddVideo let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'ajouter_musique_playlist' | transloco}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{'ajouter' | transloco}}: {{addTitle}} {{addArtist}}</p>
        <p *ngIf="error!=''" class="alert alert-danger">{{error}}</p>
        <table class="table">
            <tr *ngFor="let playlist of listPlaylist">
                <td>
                    <a (click)="onAddVideo(playlist.id_playlist, modal)">{{playlist.titre}}</a>
                </td>
            </tr>
        </table>
    </div>
</ng-template>