// =============================================================================
// HEADER COMPONENT - Navigation, player controls, and responsive behavior
// =============================================================================

@import '../../styling/custom';

#header-logo {
  width: 25%;
}

#header-logo-link {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

#header-logo-link > img {
  max-width: 100%;
  max-height: 100%;
}

#header-burger {
  width: 16.666%;
}

#slider-1-main {
  width: 70%;
  position: relative;
  margin-top: 8px;
}

#slider-1-content {
  width: 100%;
  height: 6px;
  background-color: $greyish-brown-two;
  position: relative;
  border-radius: 5px;
}

#load-video,
#load-video-current {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 6px;
  border-radius: 5px;
  pointer-events: none;
}

#load-video {
  background-color: rgba($white, 0.8);
}

#load-video-current {
  background-color: $white;
}

#slider-2-main {
  position: relative;
  float: right;
  margin: 8px 10px 0 0;
  background-color: $greyish-brown-two;
  border-radius: 5px;
  height: 6px;
  width: 90%;
  width: calc(100% - 34px);
}

#slider-2-content {
  width: 100%;
  height: 16px;
  position: absolute;
}

#load-volume-current {
  background-color: $white;
  position: absolute;
  height: 6px;
  width: 0;
  border-radius: 5px;
  pointer-events: none;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 22px;
  height: 22px;
  margin-top: -8px;
  border-radius: 50%;
  background-color: $blue;
  box-shadow: 0 1px 3px grey;
  border: solid grey 1px;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider-horizontal .ui-slider-handle {
  top: 0px;
  margin-left: 0px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-handle {
  margin-left: -8px; // Override jQuery UI default
}

.ui-slider-handle:focus {
  outline: 0;
}

#header-burger .dropdown-toggle::after {
  display: none;
}

#header-top {
  width: 100%;
  height: 50%;
}

#header-nav {
  width: 41.66666667%;
  max-height: 50px;
}

#header-recherche {
  width: 33.33333333%;
}

#header-toggle-big {
  display: block;
}

#header-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $mushroom;
  height: 70px;
  z-index: 100;
}

#header-player-volume-content {
  width: 50%;
  max-width: 150px;
  border-radius: 3px;
}

#header-player-center-load {
  height: 30px;
}

#header-player-center-load > div {
  display: inline-block;
  height: 30px;
  text-align: center;
  vertical-align: top;
}

#current-time,
#chrono-total {
  width: 15%;
}

#player-info-left {
  width: 25%;
}

#player-info-left > div {
  box-sizing: border-box;
  width: calc(100% - 130px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#player-info-left > img {
  max-height: 50px;
  padding: 4px;
}

#player-info-center {
  width: 50%;
}

#player-info-right {
  width: 25%;
}

#header-li-connexion > button,
#header-li-inscription > button {
  border-radius: 20px;
  padding: 2px 28px;
  margin: 4px;
}

#player-info-center-title {
  width: calc(100% - 64px);
  transition: none; // Disable transition for immediate feedback
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: middle;
  > div {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#header-player-collapse {
  display: none;
}

// Responsive styles - use Bootstrap breakpoints
@media screen and (max-width: 1199px) {
  #header-player-volume-content {
    margin: 0;
  }

  #header-li-connexion > button,
  #header-li-inscription > button {
    padding: 2px;
  }
}

@media (max-width: 750px) {
  #header-toggle-big {
    display: none;
  }
  #header-player {
    height: 100px;
  }
  #player-info-left {
    display: none;
  }
  #player-info-center {
    float: none;
    width: 100%;
  }

  #player-info-center .material-icons {
    font-size: 40px;
  }

  #player-info-right {
    display: none;
  }
  #header-logo {
    width: 16.666%;
  }
  #header-nav {
    width: 33.333%;
  }
  #header-nav > li,
  #header-nav > li > a {
    padding-left: 0;
    padding-right: 2px;
  }
  #header-nav .dropdown-menu {
    width: 100% !important;
    margin-top: 0;
    border: 0;
    box-shadow: none;
    background-color: $white !important;
    color: $gray-medium !important;
    position: absolute !important;
    float: none !important;
  }
  #header-recherche {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  #header-li-connexion,
  #header-li-inscription {
    width: 45%;
    overflow: hidden;
    float: left;
  }
  #header-li-connexion > button,
  #header-li-inscription > button {
    overflow: hidden;
    text-align: center;
  }

  #header-player {
    transition: height 0.25s ease-out;

    &.expanded {
      height: calc(100% - 60px);
      display: flex;
      flex-direction: column;

      #header-toggle-big {
        display: block;
      }

      #player-info-left {
        width: 100%;
        height: calc(100% - 280px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > img {
          max-height: 180px;
          float: none;
          display: block;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        > div {
          font-size: 1.4em;
          text-align: center;
          overflow: initial;
          white-space: initial;
          text-overflow: initial;
        }
      }

      #player-info-center-title {
        display: none !important;
      }

      #player-info-center {
        order: 2;

        a:not(#player-info-center-title),
        #player-info-center-more-actions {
          display: inline-block !important;
        }
      }

      #header-player-collapse {
        display: block;
        width: 25%;
        color: $white;
        > .material-icons {
          font-size: 40px;
        }
      }

      #header-player-center-load {
        height: 40px;
        padding-top: 10px;
      }

      #player-info-left-liked,
      #player-info-left-like {
        margin-top: 0px;
      }

      #player-info-right {
        display: block;
        order: 1;
        width: 100%;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
      }
    }
  }
}

// Active navigation link styling
li[ngbDropdownItem]:has(a.active) {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}
