<div id="header-top" class="row g-0 justify-content-between">
  <div id="header-burger" class="nav col-3 d-flex d-lg-none justify-content-center" ngbDropdown>
    <button type="button" class="btn" ngbDropdownToggle aria-label="Open menu">
      <span class="material-icons">menu</span>
    </button>
    <ul ngbDropdownMenu>
      <li ngbDropdownItem routerLinkActive="active">
        <a routerLink="/current">
          <span class="material-icons">playlist_play</span>{{ 'play_list' | transloco }}
        </a>
      </li>
      <li class="dropdown-divider"></li>
      @if (!authStore.isAuthenticated()) {
        <li ngbDropdownItem>
          <button type="button" (click)="openModalRegister()">
            <span class="material-icons">create_new_folder</span>{{ 'inscription' | transloco }}
          </button>
        </li>
        <li ngbDropdownItem>
          <button type="button" (click)="openModalLogin()">
            <span class="material-icons">login</span>{{ 'connexion' | transloco }}
          </button>
        </li>
      }
      <li ngbDropdownItem routerLinkActive="active">
        <a routerLink="/help">
          <span class="material-icons">help</span>{{ 'help_title' | transloco }}
        </a>
      </li>
      @if (authStore.isAuthenticated()) {
        <li class="dropdown-divider"></li>
        <li ngbDropdownItem class="bg-primary text-white">
          <span class="d-block">{{ authStore.pseudo() }}</span>
        </li>
        <li ngbDropdownItem routerLinkActive="active">
          <a routerLink="/like">
            <span class="material-icons">favorite</span>{{ 'mes_likes' | transloco }}
          </a>
        </li>
        <li ngbDropdownItem routerLinkActive="active">
          <a routerLink="/my-playlists">
            <span class="material-icons">library_music</span>{{ 'mes_playlists' | transloco }}
          </a>
        </li>
        <li ngbDropdownItem routerLinkActive="active">
          <a routerLink="/my-selection">
            <span class="material-icons">favorite</span>{{ 'ma_selection' | transloco }}
          </a>
        </li>
        <li ngbDropdownItem routerLinkActive="active">
          <a routerLink="/settings">
            <span class="material-icons">settings</span>{{ 'settings' | transloco }}
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li ngbDropdownItem>
          <button (click)="onLogout()">
            <span class="material-icons">power_settings_new</span>{{ 'deconnexion' | transloco }}
          </button>
        </li>
      }
    </ul>
  </div>

  <div id="header-logo" class="nav col-3">
    <a class="navbar-brand nav-item p-0" id="header-logo-link" alt="" routerLink="">
      <img
        [src]="
          authStore.isDarkMode()
            ? URL_ASSETS + 'assets/img/logo_dark.png'
            : URL_ASSETS + 'assets/img/logo.png'
        "
        [alt]="'home' | transloco"
        height="50"
        width="199"
        class="d-none d-lg-block mx-auto"
      />
      <img
        [src]="
          authStore.isDarkMode()
            ? URL_ASSETS + 'assets/img/logo_mobile_dark.png'
            : URL_ASSETS + 'assets/img/logo_mobile.png'
        "
        [alt]="'home' | transloco"
        class="d-lg-none"
      />
    </a>
  </div>

  <ul class="nav col-5 d-none d-lg-flex" id="header-nav">
    @if (authStore.isAuthenticated()) {
      <li class="nav-item align-self-center d-flex" ngbDropdown>
        <a id="header-toggle-big" class="btn btn-light" ngbDropdownToggle>
          {{ authStore.pseudo() }} <span class="caret"></span>
        </a>
        <ul ngbDropdownMenu>
          <li ngbDropdownItem routerLinkActive="active">
            <a routerLink="/like">
              <span class="material-icons">favorite</span>{{ 'mes_likes' | transloco }}
            </a>
          </li>
          <li ngbDropdownItem routerLinkActive="active">
            <a routerLink="/my-playlists">
              <span class="material-icons">library_music</span>{{ 'mes_playlists' | transloco }}
            </a>
          </li>
          <li ngbDropdownItem routerLinkActive="active">
            <a routerLink="/my-selection">
              <span class="material-icons">favorite</span>{{ 'ma_selection' | transloco }}
            </a>
          </li>
          <li ngbDropdownItem routerLinkActive="active">
            <a routerLink="/settings">
              <span class="material-icons">settings</span>{{ 'settings' | transloco }}
            </a>
          </li>
          <li class="dropdown-divider"></li>
          <li ngbDropdownItem>
            <button (click)="onLogout()">
              <span class="material-icons">power_settings_new</span>{{ 'deconnexion' | transloco }}
            </button>
          </li>
        </ul>
      </li>
    } @else {
      <li id="header-li-inscription" class="nav-item align-self-center d-flex d-none d-lg-block">
        <button
          type="button"
          class="btn btn-warning btn-outline-warning text-light"
          (click)="openModalRegister()"
        >
          {{ 'inscription' | transloco }}
        </button>
      </li>
      <li id="header-li-connexion" class="nav-item align-self-center d-flex d-none d-lg-block">
        <button type="button" class="btn btn-primary text-light" (click)="openModalLogin()">
          {{ 'connexion' | transloco }}
        </button>
      </li>
    }

    <li id="header-li-help" class="nav-item align-self-center d-flex">
      <a class="btn btn-light" routerLink="/help">
        <span class="material-icons">help</span>
      </a>
    </li>
  </ul>

  <div id="header-recherche" class="navbar-form navbar-right col-4 my-auto">
    <app-search-bar></app-search-bar>
  </div>
</div>

<div
  id="header-player"
  class="row g-0"
  [class.expanded]="isPlayerExpanded()"
  appSwipeDown
  (swipeDown)="collapsePlayer()"
>
  <button id="header-player-collapse" class="btn btn-link" (click)="collapsePlayer()">
    <span class="material-icons">keyboard_arrow_down</span>
  </button>

  <div id="player-info-left">
    @if (queueStore.currentKey()) {
      <img
        [src]="'https://img.youtube.com/vi/' + queueStore.currentKey() + '/mqdefault.jpg'"
        class="player-thumbnail"
        [attr.alt]="queueStore.currentVideo()?.titre"
      />
    }
    <div class="player-track-info">
      <span class="player-track-title">{{ queueStore.currentVideo()?.titre }}</span>
      <span class="player-track-artist">{{ queueStore.currentVideo()?.artiste }}</span>
    </div>
    @if (authStore.isAuthenticated() && userLibraryService.isLiked(queueStore.currentKey())) {
      <button
        type="button"
        class="btn btn-icon btn-like active"
        (click)="
          $event.stopPropagation();
          userLibraryService.removeLike(queueStore.currentKey()).subscribe()
        "
        aria-label="Remove from favorites"
      >
        <span class="material-icons">favorite</span>
      </button>
    } @else if (authStore.isAuthenticated() && queueStore.currentKey()) {
      <button
        type="button"
        class="btn btn-icon btn-like"
        (click)="
          $event.stopPropagation(); userLibraryService.addLike(queueStore.currentKey()).subscribe()
        "
        aria-label="Add to favorites"
      >
        <span class="material-icons">favorite_border</span>
      </button>
    }
  </div>

  <div id="player-info-center" class="col-md-6">
    <div class="pl-lg-5 pr-lg-5 ml-lg-5 mr-lg-5">
      <button
        type="button"
        id="player-info-center-title"
        class="btn d-inline-block d-md-none"
        (click)="expandPlayer()"
      >
        <span class="mobile-track-title">{{ queueStore.currentVideo()?.titre }}</span>
        <span class="mobile-track-artist">{{ queueStore.currentVideo()?.artiste }}</span>
      </button>

      <div class="btn-group btn-group-sm">
        <button
          type="button"
          class="btn text-light w-100 d-none d-md-block"
          [class.disabled]="
            !queueStore.hasPrevious() && playerStore.currentTimeFormatted() === '0:00'
          "
          [class.border-0]="
            !queueStore.hasPrevious() && playerStore.currentTimeFormatted() === '0:00'
          "
          (click)="onBefore()"
        >
          <span class="material-icons">skip_previous</span>
        </button>
        <button type="button" id="play-button" class="btn text-light" (click)="onPlayPause()">
          @if (playerStore.isPlaying()) {
            <span class="material-icons">pause</span>
          } @else {
            <span class="material-icons">play_arrow</span>
          }
        </button>
        <button
          type="button"
          class="btn text-light w-100 d-none d-md-block"
          [class.disabled]="!queueStore.hasNext()"
          [class.border-0]="!queueStore.hasNext()"
          (click)="onAfter()"
        >
          <span class="material-icons">skip_next</span>
        </button>
      </div>

      <div
        id="player-info-center-more-actions"
        class="btn-group btn-group-sm float-end d-none d-md-block"
      >
        <button
          type="button"
          class="btn text-light"
          (click)="goFullscreen('player')"
          placement="top"
          ngbTooltip="{{ 'video_plein_ecran' | transloco }}"
        >
          <span class="material-icons">fullscreen</span>
        </button>
        <button
          type="button"
          id="repeat"
          class="btn text-light"
          [class.active]="playerStore.isRepeat()"
          (click)="repeat()"
          placement="top"
          ngbTooltip="{{ 'repetition' | transloco }}"
        >
          <span class="material-icons">repeat</span>
        </button>
        <button
          type="button"
          id="random"
          class="btn text-light"
          [class.active]="queueStore.isShuffled()"
          (click)="random()"
          placement="top"
          ngbTooltip="{{ 'lecture_aleatoire' | transloco }}"
        >
          <span class="material-icons">shuffle</span>
        </button>
      </div>
    </div>

    <div id="header-player-center-load">
      <div id="current-time">{{ playerStore.currentTimeFormatted() }}</div>
      <div id="slider-1-main">
        <div id="slider-1-content">
          <div id="load-video" [style.width.%]="playerStore.loadedProgress()"></div>
          <div id="load-video-current" [style.width.%]="displayProgress()"></div>
          <input
            type="range"
            class="slider-range"
            min="0"
            max="100"
            step="0.1"
            [value]="displayProgress()"
            (input)="onPlayerSliderInput($event)"
            (change)="onPlayerSliderChange($event)"
            aria-label="Seek"
          />
        </div>
      </div>
      <div id="chrono-total">{{ playerStore.durationFormatted() }}</div>
    </div>
  </div>

  <div id="player-info-right" class="col-md-3 my-auto">
    <div id="header-player-volume-content" class="mx-auto">
      <span class="material-icons text-light">volume_up</span>
      <div id="slider-2-main">
        <div id="slider-2-content">
          <div id="load-volume-current" [style.width.%]="playerStore.volume()"></div>
          <input
            type="range"
            class="slider-range"
            min="0"
            max="100"
            step="1"
            [value]="playerStore.volume()"
            (input)="onVolumeInput($event)"
            aria-label="Volume"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentModalRegister let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span class="material-icons" aria-hidden="true">person_add</span>
      {{ 'inscription' | transloco }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="modal-alert modal-alert-info">
      <span class="material-icons" aria-hidden="true">info</span>
      <span>{{ 'inscription_description' | transloco }}</span>
    </div>

    <div id="google-register-button-header" class="my-3"></div>

    <div class="d-flex align-items-center my-3">
      <hr class="flex-grow-1" />
      <span class="mx-2">{{ 'or' | transloco }}</span>
      <hr class="flex-grow-1" />
    </div>

    @if (!isRegistered()) {
      <form (submit)="onSubmitRegister($event)" class="modal-form">
        <div class="form-group">
          <label class="form-label" for="pseudo">
            <span class="material-icons" aria-hidden="true">badge</span>
            {{ 'pseudo' | transloco }}
          </label>
          <input
            type="text"
            id="pseudo"
            class="form-control"
            ngbAutofocus
            [formField]="registerForm.pseudo"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="mailLogin">
            <span class="material-icons" aria-hidden="true">alternate_email</span>
            {{ 'mail' | transloco }}
          </label>
          <input type="email" id="mailLogin" class="form-control" [formField]="registerForm.mail" />
        </div>
        <div class="form-group">
          <label class="form-label" for="password">
            <span class="material-icons" aria-hidden="true">lock</span>
            {{ 'mot_de_passe' | transloco }}
          </label>
          <input
            type="password"
            id="password"
            class="form-control"
            [formField]="registerForm.password"
          />
        </div>

        @if (registerForm().dirty() && error() !== '') {
          <div class="modal-alert modal-alert-danger">
            <span class="material-icons" aria-hidden="true">error</span>
            <span>{{ error() }}</span>
          </div>
        }

        <div class="modal-actions">
          <button type="submit" class="btn btn-primary" [disabled]="registerForm().invalid()">
            <span class="material-icons" aria-hidden="true">person_add</span>
            {{ 'je_m_inscris' | transloco }}
          </button>
        </div>
      </form>
    } @else {
      <div>
        <div class="modal-alert modal-alert-success">
          <span class="material-icons" aria-hidden="true">check_circle</span>
          <span>{{ 'inscription_succes' | transloco }}</span>
        </div>
        <div class="modal-actions">
          <button
            type="button"
            (click)="dismissAndOpenLogin(modal)"
            class="btn btn-primary"
            aria-haspopup="dialog"
          >
            <span class="material-icons" aria-hidden="true">login</span>
            {{ 'connexion' | transloco }}
          </button>
        </div>
      </div>
    }
  </div>
</ng-template>

<ng-template #contentModalLogin let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span class="material-icons" aria-hidden="true">login</span>
      {{ 'connexion' | transloco }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div id="google-signin-button-header" class="my-3"></div>

    <div class="d-flex align-items-center my-3">
      <hr class="flex-grow-1" />
      <span class="mx-2">{{ 'or' | transloco }}</span>
      <hr class="flex-grow-1" />
    </div>

    <form (submit)="onLogIn($event, modal, '')" class="modal-form">
      <div class="form-group">
        <label class="form-label" for="pseudoLogin">
          <span class="material-icons" aria-hidden="true">person</span>
          {{ 'pseudo_ou_mail' | transloco }}
        </label>
        <input
          type="text"
          id="pseudoLogin"
          class="form-control"
          ngbAutofocus
          [formField]="loginForm.pseudo"
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="passwordLogin">
          <span class="material-icons" aria-hidden="true">vpn_key</span>
          {{ 'mot_de_passe' | transloco }}
        </label>
        <input
          type="password"
          id="passwordLogin"
          class="form-control"
          [formField]="loginForm.password"
        />
      </div>

      @if (loginForm().dirty() && error() !== '') {
        <div class="modal-alert modal-alert-danger">
          <span class="material-icons" aria-hidden="true">error</span>
          <span>{{ error() }}</span>
        </div>
      }

      <div class="modal-actions">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm().invalid()">
          <span class="material-icons" aria-hidden="true">login</span>
          {{ 'connexion' | transloco }}
        </button>
      </div>

      <div class="mt-3 text-center">
        <button
          type="button"
          (click)="dismissAndOpenModal(modal, contentModalNewPass)"
          class="btn btn-link text-decoration-underline p-0"
        >
          {{ 'mot_de_passe_oublie' | transloco }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentModalNewPass let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span class="material-icons" aria-hidden="true">lock_reset</span>
      {{ 'mot_de_passe_oublie' | transloco }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    @if (!isSuccess()) {
      <form (submit)="onSubmitResetPass($event)" class="modal-form">
        <div class="form-group">
          <label class="form-label" for="mailReset">
            <span class="material-icons" aria-hidden="true">alternate_email</span>
            {{ 'mail' | transloco }}
          </label>
          <input
            type="email"
            id="mailReset"
            class="form-control"
            ngbAutofocus
            [formField]="resetPassForm.mail"
          />
        </div>

        @if (resetPassForm().dirty() && error() !== '') {
          <div class="modal-alert modal-alert-danger">
            <span class="material-icons" aria-hidden="true">error</span>
            <span>{{ error() }}</span>
          </div>
        }

        <div class="modal-actions">
          <button type="submit" class="btn btn-primary" [disabled]="resetPassForm().invalid()">
            <span class="material-icons" aria-hidden="true">send</span>
            {{ 'envoyer' | transloco }}
          </button>
        </div>
      </form>
    } @else {
      <div class="modal-alert modal-alert-success">
        <span class="material-icons" aria-hidden="true">check_circle</span>
        <span>{{ 'mail_pass_envoye_succes' | transloco }}</span>
      </div>
    }
  </div>
</ng-template>

<ng-template #contentModalAddVideo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span class="material-icons" aria-hidden="true">playlist_add</span>
      {{ 'ajouter_musique_playlist' | transloco }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <strong>{{ 'ajouter' | transloco }}:</strong> {{ addTitle }}
      <span class="text-muted">{{ addArtist }}</span>
    </div>

    @if (error() !== '') {
      <div class="modal-alert modal-alert-danger">
        <span class="material-icons" aria-hidden="true">error</span>
        <span>{{ error() }}</span>
      </div>
    }
    @if (userDataStore.playlists().length === 0) {
      <div class="modal-alert modal-alert-info">
        <span class="material-icons" aria-hidden="true">info</span>
        <span>{{ 'ajouter_musique_playlist_empty' | transloco }}</span>
      </div>
    }

    <table class="table table-hover">
      @for (playlist of userDataStore.playlists(); track playlist.id_playlist) {
        <tr>
          <td>
            <button
              class="btn btn-link text-start w-100 d-flex align-items-center gap-2"
              (click)="onAddVideo(playlist.id_playlist, modal)"
              [attr.aria-label]="('ajouter_a_une_playlist' | transloco) + ' - ' + playlist.titre"
            >
              <span class="material-icons" aria-hidden="true">queue_music</span>
              {{ playlist.titre }}
            </button>
          </td>
        </tr>
      }
    </table>
  </div>
</ng-template>

<ng-template #contentMobileMenu>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvas-mobile-menu-title">{{ 'menu' | transloco }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeMobileMenu()"></button>
  </div>
  <div class="offcanvas-body">
    <nav class="nav flex-column gap-2">
      <a
        class="nav-link d-flex align-items-center gap-2"
        routerLink="/current"
        (click)="closeMobileMenu()"
      >
        <span class="material-icons">playlist_play</span>
        {{ 'play_list' | transloco }}
      </a>

      <hr class="my-2" />

      @if (!authStore.isAuthenticated()) {
        <button
          type="button"
          class="nav-link d-flex align-items-center gap-2 btn btn-link text-start p-0"
          (click)="closeMobileMenu(); openModalRegister()"
        >
          <span class="material-icons">create_new_folder</span>
          {{ 'inscription' | transloco }}
        </button>
        <button
          type="button"
          class="nav-link d-flex align-items-center gap-2 btn btn-link text-start p-0"
          (click)="closeMobileMenu(); openModalLogin()"
        >
          <span class="material-icons">login</span>
          {{ 'connexion' | transloco }}
        </button>
      }

      <a
        class="nav-link d-flex align-items-center gap-2"
        routerLink="/help"
        (click)="closeMobileMenu()"
      >
        <span class="material-icons">help</span>
        {{ 'help_title' | transloco }}
      </a>

      @if (authStore.isAuthenticated()) {
        <hr class="my-2" />

        <div class="nav-link bg-primary text-white rounded px-3 py-2 fw-bold">
          {{ authStore.pseudo() }}
        </div>

        <a
          class="nav-link d-flex align-items-center gap-2"
          routerLink="/like"
          (click)="closeMobileMenu()"
        >
          <span class="material-icons">favorite</span>
          {{ 'mes_likes' | transloco }}
          @if (userDataStore.likedVideoCount() > 0) {
            <span class="badge bg-secondary ms-auto">{{ userDataStore.likedVideoCount() }}</span>
          }
        </a>
        <a
          class="nav-link d-flex align-items-center gap-2"
          routerLink="/my-playlists"
          (click)="closeMobileMenu()"
        >
          <span class="material-icons">library_music</span>
          {{ 'mes_playlists' | transloco }}
          @if (userDataStore.playlistCount() > 0) {
            <span class="badge bg-secondary ms-auto">{{ userDataStore.playlistCount() }}</span>
          }
        </a>
        <a
          class="nav-link d-flex align-items-center gap-2"
          routerLink="/my-selection"
          (click)="closeMobileMenu()"
        >
          <span class="material-icons">favorite</span>
          {{ 'ma_selection' | transloco }}
          @if (userDataStore.followCount() > 0) {
            <span class="badge bg-secondary ms-auto">{{ userDataStore.followCount() }}</span>
          }
        </a>
        <a
          class="nav-link d-flex align-items-center gap-2"
          routerLink="/settings"
          (click)="closeMobileMenu()"
        >
          <span class="material-icons">settings</span>
          {{ 'settings' | transloco }}
        </a>

        <hr class="my-2" />

        <button
          type="button"
          class="nav-link d-flex align-items-center gap-2 btn btn-link text-start text-danger p-0"
          (click)="closeMobileMenu(); onLogout()"
        >
          <span class="material-icons">power_settings_new</span>
          {{ 'deconnexion' | transloco }}
        </button>
      }
    </nav>
  </div>
</ng-template>
