<div id="artist_content" class="card panel-profile">
	
	<div id="artist_haut" class="card-header clearfix">
        <div class="panel_head_img rounded" 
            [style.backgroundImage]="'url('+urlDeezer+'?size=big)'"></div>
		<div class="panel_head_content">
			<div id="artist_haut_titre">
				<h1>{{name}}</h1>
				<div>
					<fb-like class="fb-like" layout="button_count" action="like" show-faces="false" share="true" width="300"></fb-like>
				</div>		
			</div>

			<div >
				<img id="artist_img_big" [src]="urlDeezer" class="rounded" />
			</div>
		</div>	
	</div>

	<div class="card-body">
		<div>
			<h3>{{ 'albums' | transloco }}</h3>
		</div>

		<div *ngFor="let album of listAlbums" class="artist_list_album">
			<a routerLink="/playlist/{{album.id_playlist}}">
				<img [src]="album.img_big" class="rounded" />
				<h5>{{album.titre}} ({{album.year_release}})</h5>
			</a>
		</div>
	</div>
</div>