#artist_haut {
  min-height: 120px;
  height: auto;
  position: relative;
  overflow: auto;
}

#artist_img_content {
  width: 190px;
}

#artist_img_big {
  width: 170px;
  height: 170px;
}

.artist_list_album {
  float: left;
  margin: 10px;
  padding: 10px;
  height: 240px;
  width: 190px;
  cursor: pointer;
  background-color: #eeeeee;
}

.artist_list_album:hover {
  background-color: #f5f5f5;
}

.artist_list_album > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #536570;
  text-decoration: none;
}

@media screen and (max-device-width: 899px), screen and (max-width: 899px) {
  #artist_img_content {
    width: 100%;

    > #artist_img_big {
      margin: 0 auto;
      display: block;
    }
  }

  .panel_head_content {
    width: 100%;
  }

  #artist_haut_titre {
    text-align: center;
  }
}
