@import '../../styling/custom';

// =============================================================================
// ARTIST COMPONENT - Artist profile and albums
// =============================================================================

#artist-header {
  min-height: 120px;
  height: auto;
  position: relative;
  overflow: auto;
}

#artist-image-wrapper {
  width: 190px;
}

#artist-image {
  width: 170px;
  height: 170px;
}

@media screen and (max-width: 899px) {
  #artist-content {
    width: 100%;
  }

  #artist-image-wrapper {
    width: 100%;

    > #artist-image {
      margin: 0 auto;
      display: block;
    }
  }

  .panel-head-content {
    width: 100%;
  }

  #artist-header-title {
    text-align: center;
  }
}
