<div class="tracks-list">
  @for (video of queueStore.items(); track video.key; let index = $index) {
  <div
    class="track-item"
    role="button"
    tabindex="0"
    (click)="play(index, true)"
    (keydown.enter)="play(index, true)"
    (keydown.space)="play(index, true); $event.preventDefault()"
    [class.active]="video.key === queueStore.currentKey()"
  >
    <span class="track-number">
      @if (video.key === queueStore.currentKey()) {
      <span class="material-icons playing-icon" aria-hidden="true">play_arrow</span>
      } @else {
      {{ index + 1 }}
      }
    </span>
    <img
      [appLazyLoadImage]="'https://img.youtube.com/vi/' + video.key + '/mqdefault.jpg'"
      class="track-thumbnail"
      [attr.alt]="video.titre"
    />
    <div class="track-info">
      <span class="track-title">{{ video.titre }}</span>
      <span class="track-artist">{{ video.artiste }}</span>
    </div>
    <span
      class="btn-track-menu"
      tabindex="-1"
      (click)="$event.stopPropagation()"
      (keydown.enter)="$event.stopPropagation()"
      (keydown.space)="$event.stopPropagation()"
      ngbDropdown
      placement="left-top"
    >
      <button class="btn btn-sm btn-icon" ngbDropdownToggle aria-label="Menu actions">
        <span class="material-icons">more_vert</span>
      </button>
      <ul ngbDropdownMenu>
        <li ngbDropdownItem>
          <button (click)="removeToPlaylist(index)">
            <span class="material-icons">clear</span>
            {{ 'supprimer_liste_lecture' | transloco }}
          </button>
        </li>
        @if (authStore.isAuthenticated()) {
        <li ngbDropdownItem>
          <button
            (click)="
              playerService.addVideoInPlaylist(video.key, video.artiste, video.titre, video.duree)
            "
          >
            <span class="material-icons">add</span>
            {{ 'ajouter_a_une_playlist' | transloco }}
          </button>
        </li>
        }
      </ul>
    </span>
  </div>
  }
</div>
