<table class="table table-hover">
  <thead></thead>
  <tbody>
    @for (video of list; track video.key; let index = $index) {
    <tr
      role="button"
      tabindex="0"
      (click)="play(index, true)"
      (keydown.enter)="play(index, true)"
      (keydown.space)="play(index, true); $event.preventDefault()"
      [class.active]="video.key === currentKey"
    >
      <td>
        <img
          [appLazyLoadImage]="'https://img.youtube.com/vi/' + video.key + '/mqdefault.jpg'"
          class="thumbnail-big"
          alt=""
        />
      </td>
      <td>
        <p>
          <strong>{{ video.titre }}</strong>
        </p>
        <p>{{ video.artiste }}</p>
      </td>
      <td>
        <span
          class="btn btn-link btn-lg p-3 text-decoration-none text-body"
          tabindex="-1"
          (click)="$event.stopPropagation()"
          (keydown.enter)="$event.stopPropagation()"
          (keydown.space)="$event.stopPropagation()"
          ngbDropdown
          placement="left-top"
        >
          <span class="material-icons" tabindex="0" ngbDropdownToggle>more_vert</span>
          <ul ngbDropdownMenu>
            <li ngbDropdownItem>
              <button
                (click)="removeToPlaylist(index)"
                class="btn btn-link text-body text-decoration-none p-0"
              >
                <span class="material-icons">clear</span>
                {{ 'supprimer_liste_lecture' | transloco }}
              </button>
            </li>
            @if(isConnected){
            <li ngbDropdownItem>
              <button
                (click)="
                  playerService.addVideoInPlaylist(
                    video.key,
                    video.artiste,
                    video.titre,
                    video.duree
                  )
                "
                class="btn btn-link text-body text-decoration-none p-0"
              >
                <span class="material-icons">add</span>
                {{ 'ajouter_a_une_playlist' | transloco }}
              </button>
            </li>
            }
          </ul>
        </span>
      </td>
    </tr>
    }
  </tbody>
</table>
