<h1>{{ 'mes_playlists' | transloco}}</h1>

<form (ngSubmit)="onCreatePlaylist(formCreatePlaylist)" #formCreatePlaylist="ngForm">
    <div class="input-group">
        <input type="text" class="form-control" name="titre" placeholder="{{ 'creer_nouvelle_playlist' | transloco }}"
            ngbAutofocus ngModel required>
        <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" [disabled]="formCreatePlaylist.invalid"
                value="{{ 'creer' | transloco }}" />
        </span>
    </div>
</form>
<hr />
<table class="table">
    <tbody>
        <tr *ngFor="let playlist of listPlaylist">
            <td>
                <a [routerLink]="['/playlist', playlist.id_playlist]">{{playlist.titre}}</a>
            </td>

            <td>
                <a (click)="onConfirmEditTitlePlaylist(playlist.id_playlist,playlist.titre, contentModalConfirmEditTitle)"
                    role="presentation">
                    <span class="material-icons" placement="right"
                        ngbTooltip="{{'modifier_nom' | transloco}}">edit</span>
                </a>
            </td>

            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" [ngClass]="{'btn btn-light' : true,
                                                    'active' : !playlist.prive}"
                        (click)="onSwitchVisibility(playlist.id_playlist,'public')">{{ 'public' | transloco
                        }}</button>
                    <button type="button" [ngClass]="{'btn btn-light' : true,
                                                    'active' : playlist.prive}"
                        (click)="onSwitchVisibility(playlist.id_playlist,'prive')">{{ 'prive' | transloco
                        }}</button>
                </div>
            </td>

            <td>
                <a class="btn btn-secondary"
                    (click)="onConfirmDeletePlaylist(playlist.id_playlist, contentModalConfirmDeletePlaylist)"
                    role="presentation">
                    <span class="material-icons">clear</span>
                    {{'supprimer' | transloco}}
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #contentModalConfirmDeletePlaylist let-modal>
    <div class="modal-body">
        {{ 'supprimer_playlist_confirmer' | transloco }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{ 'annuler' |
            transloco}}</button>
        <button type="button" class="btn btn-primary" (click)="onDeletePlaylist(modal)">{{ 'confirmer' |
            transloco}}</button>
    </div>
</ng-template>

<ng-template #contentModalConfirmEditTitle let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'playlist_modifier_titre' | transloco}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onEditTitlePlaylist(formEditTitle, modal)" #formEditTitle="ngForm">
            <div class="input-group">
                <input type="text" class="form-control" name="playlist_titre" [(ngModel)]="playlistTitle" required>
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" [disabled]="formEditTitle.invalid"
                        value="{{ 'modifier' | transloco }}" />
                </span>
            </div>
            <p *ngIf="formEditTitle.dirty && error!==''" class="alert alert-danger">{{error}}</p>
        </form>
    </div>
</ng-template>