<input
  class="form-control"
  type="search"
  placeholder="{{ 'rechercher' | transloco }}"
  id="input-search-header"
  [ngModel]="query()"
  (ngModelChange)="query.set($event)"
  [ngbTypeahead]="searchTypeahead"
  [inputFormatter]="inputFormatter"
  [resultFormatter]="resultFormatter"
  [resultTemplate]="resultTpl"
  (selectItem)="onSelect($event)"
  [focusFirst]="false"
  #typeaheadInstance="ngbTypeahead"
/>

<ng-template #resultTpl let-item="result">
  @if (item.type === 'all') {
    <span class="search-result-all">
      <span class="material-icons search-result-all-icon">search</span>
      <span>{{ 'tous_les_resultats' | transloco }}</span>
    </span>
  } @else {
    <span class="d-flex align-items-center search-result-item">
      @if (item.imageUrl) {
        <img [src]="item.imageUrl" class="search-result-img" alt="" appDefaultImage />
      }
      <span class="search-result-text">
        <span class="search-result-label">{{ item.label }}</span>
        @if (item.sublabel) {
          <small class="search-result-sublabel">{{ item.sublabel }}</small>
        }
      </span>
    </span>
  }
</ng-template>
