<app-header id="header" class="navbar navbar-inverse fixed-top"></app-header>

<div id="main" class="container-fluid">
  <div id="container" class="row">
    <app-player class="col-xs-3 col-md-3" id="gauche"></app-player>

    <div class="col-xs-9 col-md-9" id="content">
      @if((queueStore.sourceTopChartsId() || queueStore.sourcePlaylistId()) &&
      !isRedirectingToCurrentUrl()){
      <a
        [routerLink]="
          queueStore.sourceTopChartsId()
            ? ['top', queueStore.sourceTopChartsId()]
            : ['playlist', queueStore.sourcePlaylistId()]
        "
      >
        <span class="material-icons">chevron_left</span>
        {{ 'back_current_playlist' | transloco }}
      </a>
      }
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

@if(!isOnline()){
<ngb-alert id="alert_perte_connexion" (close)="isOnline.set(true)" type="danger">
  {{ 'perte_connexion' | transloco }}
</ngb-alert>
} @if(uiStore.showSessionExpiredMessage()){
<ngb-alert id="alert_deconnexion" (close)="uiStore.hideSessionExpired()" type="danger">
  {{ 'veuillez_vous_reconnecter' | transloco }}
</ngb-alert>
} @if(playerStore.errorMessage()){
<ngb-alert id="alert_erreur" class="d-lg-none" (close)="clearErrorMessage()" type="danger">
  {{ playerStore.errorMessage() | transloco }}
</ngb-alert>
}
<ng-template #contentModalReload let-modal>
  <div class="modal-body">
    <p class="alert alert-danger">{{ 'reload_label' | transloco }}</p>
    <p>
      <button class="btn btn-primary" (click)="reload()">{{ 'reload_button' | transloco }}</button>
    </p>
  </div>
</ng-template>
