<app-header id="header" class="navbar navbar-inverse fixed-top"></app-header>

<div id="main" class="container-fluid">
  <div id="container" class="row">
    <app-player class="col-xs-3 col-md-3" id="player-sidebar"></app-player>

    <div class="col-xs-9 col-md-9" id="content">
      @if((queueStore.sourceTopChartsId() || queueStore.sourcePlaylistId()) &&
      !isRedirectingToCurrentUrl()){
      <a
        [routerLink]="
          queueStore.sourceTopChartsId()
            ? ['top', queueStore.sourceTopChartsId()]
            : ['playlist', queueStore.sourcePlaylistId()]
        "
      >
        <span class="material-icons">chevron_left</span>
        {{ 'back_current_playlist' | transloco }}
      </a>
      }
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-toast-container></app-toast-container>

@if(!isOnline()){
<ngb-alert id="alert-connection-lost" (close)="isOnline.set(true)" type="danger">
  {{ 'perte_connexion' | transloco }}
</ngb-alert>
} @if(uiStore.showSessionExpiredMessage()){
<ngb-alert id="alert-logout" (close)="uiStore.hideSessionExpired()" type="danger">
  {{ 'veuillez_vous_reconnecter' | transloco }}
</ngb-alert>
} @if(playerStore.errorMessage()){
<ngb-alert id="alert-error" class="d-lg-none" (close)="clearErrorMessage()" type="danger">
  {{ playerStore.errorMessage() | transloco }}
</ngb-alert>
}
<ng-template #contentModalReload let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span class="material-icons" aria-hidden="true">error_outline</span>
      {{ 'erreur' | transloco }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="modal-alert modal-alert-danger">
      <span class="material-icons" aria-hidden="true">cloud_off</span>
      <span>{{ 'reload_label' | transloco }}</span>
    </div>

    <div class="modal-actions">
      <button class="btn btn-primary" (click)="reload()">
        <span class="material-icons" aria-hidden="true">refresh</span>
        {{ 'reload_button' | transloco }}
      </button>
    </div>
  </div>
</ng-template>
