$blue: #1ac8e5;
$secondary: #e8e7e7;
$mushroom: #9f9a9a;
$white-two: #ffffff;
$yellow: #fc7e12;
$orange: #fc7e12;
$greyish-brown-two: #4d4d4d;
$aqua-20: rgba(26, 200, 229, 0.2);
$cyan: $aqua-20;

$body-bg: #f8f8f8;
$body-color: $greyish-brown-two;

$border-radius: 10px;
$rounded-pill: 2.5rem;

$card-height: 100%;
$card-spacer-x: 0.75rem;
$navbar-padding-y: 0;
$navbar-padding-x: 0;

$grid-gutter-width: 20px;
$border-radius: .5rem;
$border-radius-lg:  .6rem;
$border-radius-sm:  .4rem;

$dropdown-link-color: $greyish-brown-two;
$modal-header-border-color: transparent;
$modal-inner-padding: 2rem;
$modal-header-padding-x: $modal-inner-padding; 

$table-cell-padding: 0.5rem;

$tooltip-bg:  $mushroom;

@font-face {
    font-family: Nunito;
    src: local(Nunito-Regular),
        url('../assets/font/Nunito/Nunito-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Nunito;
    src: local(Nunito-SemiBold),
            url('../assets/font/Nunito/Nunito-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Nunito;
    src: local(Nunito-Bold),
            url('../assets/font/Nunito/Nunito-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Nunito;
    src: local(Nunito-ExtraBold),
        url('../assets/font/Nunito/Nunito-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

$font-family-base: 'Nunito', sans-serif;

$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';