@use 'sass:math';

// Import custom variables (must be before Bootstrap to override defaults)
@import 'custom';

// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

// Import other dependencies
@import 'ngx-sharebuttons/themes/default';
@import 'material-icons-optimized';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// Card hover effects for interactive cards
a.card,
.card-hover {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    transform: translateY(-4px);
    box-shadow: $box-shadow-lg;
  }

  &:focus {
    outline: 2px solid $primary;
    outline-offset: 2px;
  }
}

.navbar-inverse {
  background-color: $white-two;
}

body[data-bs-theme='dark'] {
  .navbar-inverse {
    background-color: $black;
  }
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  > youtube-player-placeholder {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
  }
}

#main {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

#container,
#gauche {
  height: 100%;
  padding: 0;
}

#content,
#liste_en_cours_content {
  height: 100%;
  overflow: auto;
}

input[type='search'] {
  -webkit-appearance: searchfield;
  appearance: searchfield;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#alert_perte_connexion {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

#alert_deconnexion,
#alert_erreur {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 10000;
}

.content_indication {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 2px 6px;
}

.panel_head_content {
  position: relative;
}

.spin {
  animation: spin 600ms infinite linear;
  display: inline-block;
}

.card-header {
  background-color: $card-bg;
}

a.card {
  text-decoration: none;
  color: inherit;
}

.btn.active,
.btn.active.text-light {
  color: $blue !important;
  border-color: transparent !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td {
  background-color: $gray-light;
}

td[onclick],
td[ng-click] {
  cursor: pointer;
}

#tableau_selection td > a,
#tableau_musique td > a {
  text-align: left;
  height: 100%;
  width: 100%;
  display: block;
}

.btn-group > .tooltip + .btn,
.btn-group > .popover + .btn {
  margin-left: -1px;
}

#table_playlist td:nth-child(5) > div {
  white-space: nowrap;
}

#table_playlist tr:hover {
  cursor: pointer;
}

.content_loading {
  height: 20px;
  width: 20px;
  margin: 0 auto;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.card[ng-reflect-router-link]:hover,
.card[href]:hover {
  cursor: pointer;
  border-color: rgba($black, 0.25);
}

.card-img-top {
  min-height: 13.3vw;
}

.thumbnail {
  max-height: 34px;
}

.thumbnail-big {
  max-height: 60px;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$grid-gutter-width: 30px !default;
$cards-per-line: (
  xs: 1,
  sm: 2,
  md: 3,
  lg: 4,
  xl: 5,
);

@media screen and (max-device-width: 799px), screen and (max-width: 799px) {
  #playlist_content,
  #artist_content,
  #search_content {
    width: 100%;
  }
}

@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  #content {
    width: 99.3214534%;
    overflow: visible;
    padding: 0;
    margin: 0 0 100px 0;
  }
  #container_player {
    z-index: -1;
  }
  #gauche,
  #container_player,
  #player {
    height: 1px;
  }
  #liste_en_cours_content {
    display: none;
  }
  #header_player_gauche {
    width: 100%;
  }
  #header_player_droite {
    width: 100%;
    top: 100px;
  }
  #main {
    margin-top: 0px;
    height: auto;
  }
  .navbar-fixed-top {
    position: static;
  }
  html,
  body {
    height: auto;
    overflow: visible;
  }
  #playlist_haut {
    min-height: 90px;
  }
  #playlist_haut_titre {
    min-height: 90px;
  }
  #playlist_infos {
    margin-left: 10px;
  }
  .navbar {
    margin-bottom: 0px;
  }
}
