@if(!isLoading){
<div id="playlist_content" class="card panel-profile border-0 h-auto mt-2" itemscope
    [attr.itemtype]="!idTopCharts ? 'http://schema.org/MusicAlbum': 'http://schema.org/MusicGroup'">
    <div *ngIf="!isPrivate && (!isLikePage || playlist.length>0)">
        <div id="playlist_haut" class="card-header clearfix border-0">
            <div class="panel_head_content row">
                <div *ngIf="imgBig && imgBig!==undefined && imgBig!==''" id="playlist_img_content"
                    class="col col-4 p-0">
                    <img id="playlist_img_big" [src]="imgBig" class="rounded" alt="" appDefaultImage itemprop="image" />
                </div>

                <div id="playlist_haut_titre" class="col col-8 p-0">

                    <h1 *ngIf="idTopCharts===null && titre!==''" class="m-t-0" itemprop="name">{{titre}}</h1>
                    <h1 *ngIf="titre===''" class="m-t-0" itemprop="name">{{title}}</h1>
                    @if(isLikePage){
                    <h1 class="m-t-0">{{ 'mes_likes' | transloco }}</h1>
                    }

                    <h3 *ngIf="artist!==null && artist!==''"><a itemprop="byArtist url"
                            routerLink="/artist/{{idArtist}}">{{artist}}</a></h3>

                    <p *ngIf="titre===''" class="m-t-0" itemtype="description">{{description}}</p>

                    <div>
                        <button class="btn btn-primary btn-lg" (click)="runPlaylist()"
                            *ngIf="idPlaylist !== currentIdPlaylistPlaying || !isPlaying">
                            <span class="material-icons">play_circle_outline</span>
                            {{ 'lire' | transloco }}
                        </button>

                        <button class="btn btn-primary btn-lg" (click)="pausePlaylist()"
                            *ngIf="idPlaylist === currentIdPlaylistPlaying && isPlaying">
                            <span class="material-icons">pause_circle_outline</span>
                            {{ 'pause' | transloco }}
                        </button>

                        <button class="btn btn-secondary btn-lg"
                            *ngIf="isConnected && idPersoOwner!==idPerso && idPlaylist !==''"
                            [ngClass]="{'active' : isFollower}" (click)="switchFollow()">{{'suivre' |
                            transloco}}</button>

                        <button class="btn btn-secondary btn-lg" (click)="addInCurrentList()">{{'ajouter_liste_en_cours'
                            | transloco}}</button>

                        @if(!isLikePage) {
                        <share-buttons class="d-inline-block" show="2" showText="true"></share-buttons>
                        }
                    </div>

                    <div class="row m-t">
                        <div id="playlist_infos" class="col-md-6">
                            <span class="content_indication">
                                <b>{{playlist && playlist.length}}</b>
                                <span *ngIf="playlist && playlist.length<=1"> {{ 'titre' | transloco }}</span>
                                <span *ngIf="playlist && playlist.length>1"> {{ 'titres' | transloco }}</span>
                                {{sumDurationPlaylist()}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body p-t-0">
            <table id="table_playlist" class="table table-hover">
                <thead>
                    <tr>
                        <th class="d-none d-md-table-cell"></th>
                        <th class="d-none d-md-table-cell"></th>
                        <th>
                            <span class="d-none d-md-inline">{{ 'intitule_artiste' |transloco }}</span>
                        </th>
                        <th class="d-none d-md-table-cell">{{ 'intitule_titre' |transloco }}</th>
                        <th class="d-none d-md-table-cell"></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let video of playlist; index as i" [attr.data-id-video]="video.key"
                        (click)="runPlaylist(i)" [ngClass]="{'active': video.key===currentKey}" itemprop="track"
                        itemscope itemtype="http://schema.org/MusicRecording">
                        <td class="d-none d-md-table-cell" itemprop="position">{{ i+1 }}</td>
                        <td class="d-none d-md-table-cell">
                            <img [appLazyLoadImage]="'https://img.youtube.com/vi/'+video.key+'/mqdefault.jpg'"
                                class="thumbnail" alt="" />
                        </td>
                        <td>
                            <p class="d-block d-md-none" itemprop="name"><strong>{{video.titre}}</strong></p>
                            <app-artist-list [artists]="video.artists"></app-artist-list>
                        </td>
                        <td class="d-none d-md-table-cell" itemprop="name">{{video.titre}}</td>
                        <td class="d-none d-md-table-cell">
                            <span *ngIf="video.duree>0">{{video.duree | toMMSS }}</span>
                        </td>
                        <td>
                            <div class="d-flex">
                                <span *ngIf="isConnected && playerService.isLiked(video.key)"
                                    class="btn btn-sm btn-link text-decoration-none"
                                    (click)="$event.stopPropagation();playerService.removeLike(video.key)"
                                    role="presentation">
                                    <span class="material-icons">favorite</span>
                                </span>
                                <span *ngIf="isConnected && !playerService.isLiked(video.key)"
                                    class="btn btn-sm btn-link text-decoration-none text-body"
                                    (click)="$event.stopPropagation();playerService.addLike(video.key)"
                                    role="presentation">
                                    <span class="material-icons">favorite_border</span>
                                </span>
                                <span class="btn btn-link btn-sm text-decoration-none text-body"
                                    (click)="$event.stopPropagation()" role="presentation" ngbDropdown>
                                    <span class="material-icons" role="button" ngbDropdownToggle>more_vert</span>
                                    <ul ngbDropdownMenu>
                                        <li ngbDropdownItem>
                                            <button (click)="addVideoAfterCurrentInList(video)"
                                                class="btn btn-link text-body text-decoration-none p-0">
                                                <span class="material-icons">queue_music</span>
                                                {{'ajouter_apres_courant' | transloco}}
                                            </button>
                                        </li>
                                        <li ngbDropdownItem>
                                            <button (click)="addVideoInEndCurrentList(video)"
                                                class="btn btn-link text-body text-decoration-none p-0">
                                                <span class="material-icons">playlist_add</span>
                                                {{'ajouter_liste_en_cours' | transloco}}
                                            </button>
                                        </li>
                                        <li ngbDropdownItem *ngIf="isConnected">
                                            <button (click)="addVideo(video.key,video.artiste,video.titre,video.duree)"
                                                class="btn btn-link text-body text-decoration-none p-0">
                                                <span class="material-icons">add</span>
                                                {{'ajouter_a_une_playlist' | transloco}}
                                            </button>
                                        </li>
                                        <li ngbDropdownItem *ngIf="isConnected && idPersoOwner===idPerso">
                                            <button (click)="removeVideo(video.id_video)"
                                                class="btn btn-link text-body text-decoration-none p-0">
                                                <span class="material-icons">clear</span>
                                                {{'supprimer' | transloco}}
                                            </button>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <p class="bg-info p-2 rounded" *ngIf="isPrivate">{{ 'playlist_privee' | transloco }}</p>
    <p *ngIf="isPrivate"><a routerLink="/">{{'back_home' | transloco}}</a></p>
    <p class="bg-info p-2 rounded" *ngIf="isLikePage && playlist.length===0">{{ 'likes_empty' | transloco }}</p>
</div>
} @else {
<div class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
    </div>
</div>
}