@media screen and (max-device-width:899px), screen and (max-width:899px) {
    #playlist_img_big {
        width: 85px;
        height: 85px;
    }
    #playlist_haut_titre {
        width: calc( 100% - 100px);
        min-height: auto;
    }
}