<div id="search_content" class="card card-body border-0 h-auto mt-2">
	
	<h1 class="m-t-0">{{ 'resultats_recherche' | transloco :{ query: query } }}</h1>

    <h2 class="m-t-0">{{ 'artistes' | transloco }}</h2>
    <div class="card-deck" *ngIf="!isLoading1">
		<a *ngFor="let artist of listArtists | slice:0:limitArtist" class="card" routerLink="/artist/{{artist.id_artiste}}">
			<img [src]="'https://api.deezer.com/artist/'+artist.id_artiste_deezer+'/image?size=big'" class="card-img-top" />
			<div class="card-body">
                <h5 class="card-title">{{artist.artiste}}</h5>
            </div>
		</a>
		
		<div *ngIf="listArtists && listArtists.length>limitArtist" class="card align-self-center" (click)="moreArtists()">
			<div class="card-body">
				<h5 class="card-title">{{ 'more' | transloco }}</h5>
			</div>
		</div>
    </div>
	<div *ngIf="isLoading1" class="content_loading"><div class="spinner-border"></div></div>

    <h2 class="m-t-0"> {{ 'albums' | transloco }}</h2>
    <div class="card-deck" *ngIf="!isLoading1">
        <a *ngFor="let album of listAlbums | slice:0:limitAlbum" class="card" routerLink="/playlist/{{album.id_playlist}}">
            <img [src]="album.url_image" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{album.titre}}</h5>
			</div>
			<div class="card-footer">
				<small class="text-muted">{{album.year_release}}</small>
			</div>
		</a>
		
		<div *ngIf="listAlbums && listAlbums.length>limitAlbum" class="card align-self-center" (click)="moreAlbums()">
			<div class="card-body">
				<h5 class="card-title">{{ 'more' | transloco }}</h5>
			</div>
		</div>
    </div>
	<div *ngIf="isLoading1" class="content_loading"><div class="spinner-border"></div></div>

	<h2 class="m-t-0">{{ 'morceaux' | transloco }}</h2>
	<table *ngIf="!isLoading2" id="table_playlist" class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>{{ 'intitule_artiste' |transloco }}</th>
				<th>{{ 'intitule_titre' |transloco }}</th>
				<th>{{ 'album' |transloco }}</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let video of listTracks | slice:0:limitTrack; let index=index" [attr.data-id-video]="video.key">
				<td>{{ index+1 }}</td>
				<td>
                    <p *ngIf="video.id_artiste==undefined || video.id_artiste<=0" 
                        (click)="runPlaylistTrack(index)">{{video.artiste}}</p>
					<a *ngIf="video.id_artiste>0" routerLink="/artist/{{video.id_artiste}}">{{video.artiste}}</a>
				</td>
				<td (click)="runPlaylistTrack(index)">{{video.titre}}</td>
				<td>
					<a *ngIf="video.titre_album!=undefined" routerLink="/playlist/{{video.id_playlist}}">{{video.titre_album}}</a>
				</td>
				<td>
					<span *ngIf="video.tab_element[0].duree>0">{{video.tab_element[0].duree | toMMSS }}</span>
				</td>
				<td>
                    <span *ngIf="isConnected" 
                            class="btn btn-default" 
                            (click)="addVideo(video.key,video.artiste,video.titre)" 
                            placement="left" 
							ngbTooltip="{{'ajouter_a_une_playlist' | transloco}}">
						<span class="material-icons">add</span>
					</span>
				</td>
			</tr>
			<tr *ngIf="listTracks && listTracks.length>limitTrack">
				<td colspan="6">
					<a (click)="moreTracks()">{{ 'more' |transloco }}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="isLoading2" class="content_loading"><div class="spinner-border"></div></div>


	<h2 class="m-t-0">{{ 'extras' |transloco }}</h2>
	<table *ngIf="!isLoading3" id="table_extra" class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>{{ 'intitule_titre' |transloco }}</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let extra of listExtras | slice:0:limitExtra; let index=index" [attr.data-id-video]="extra.key">
				<td>{{ index+1 }}</td>
				<td (click)="runPlaylistExtra(index)">{{extra.title}}</td>
				<td>
					<span *ngIf="extra.duree>0">{{extra.duree | toMMSS }}</span>
				</td>
				<td>
                    <span *ngIf="isConnected" 
                            class="btn btn-default" 
                            (click)="addVideo(extra.key,'',extra.title);" 
                            placement="left" 
							ngbTooltip="{{'ajouter_a_une_playlist' | transloco}}">
						<span class="material-icons">add</span>
					</span>
				</td>
			</tr>
			<tr *ngIf="listExtras && listExtras.length>limitExtra">
				<td colspan="5">
					<a (click)="moreExtras()">{{ 'more' |transloco }}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="isLoading3" class="content_loading"><div class="spinner-border"></div></div>

</div>
