@if( page !== 'albums') {
<div class="card card-body mt-3 border-0" [id]="'content-top-' + page">
    <div *ngIf="isLoading" class="content_loading">
        <div class="spinner-border"></div>
    </div>

    <div *ngIf="!isLoading" class="row row-cols-md-3 row-cols-sm-2 row-cols-2" [class.row-cols-xl-6]="page === 'home'"
        [class.row-cols-xl-5]="page !== 'home'">
        <div *ngFor="let chart of page === 'home' ? listTopSliced : listTop" class="col m-0 mt-1 mb-1">
            <a class="card h-100" routerLink="/top/{{chart.id}}">
                <img src="{{chart.url_image}}" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">{{chart.titre}}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{chart.description}}</small>
                </div>
            </a>
        </div>
        @if( page === 'home') {
        <div class="col m-0 mt-1 mb-1">
            <a class="card h-100" routerLink="/top">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-text text-decoration-underline">{{ 'more' | transloco }}</h5>
                </div>
            </a>
        </div>
        }
    </div>
</div>
}

@if( page !== 'top') {
<div class="card card-body mt-3 border-0" [id]="'content-album-' + page">
    <h3 class="text-center border-0">{{'top_albums'| transloco}}</h3>
    <div *ngIf="isLoading" class="content_loading">
        <div class="spinner-border"></div>
    </div>

    <div *ngIf="!isLoading" class="row row-cols-md-3 row-cols-sm-2 row-cols-2" [class.row-cols-xl-6]="page === 'home'"
        [class.row-cols-xl-5]="page !== 'home'">
        <div *ngFor="let album of page === 'home' ? listTopAlbumsSliced : listTopAlbums; let i = index"
            class="col m-0 mt-1 mb-1">
            <a class="card h-100" routerLink="/playlist/{{album.id_playlist}}">
                <img src="{{album.url_image}}" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="badge bg-primary text-light">{{i+1}}</span>
                        {{album.titre}}
                    </h5>
                    <p *ngIf="album.artiste!==''" class="card-text">{{album.artiste}}</p>
                </div>
            </a>
        </div>
        @if( page === 'home') {
        <div class="col m-0 mt-1 mb-1">
            <a class="card h-100 text-center" routerLink="/albums">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-text text-decoration-underline">{{ 'more' | transloco }}</h5>
                </div>
            </a>
        </div>
        }
    </div>
</div>
}