<div id="home_bloc_1" class="card mt-3">
    <div *ngIf="isLoading" class="content_loading"><span class="icon icon-circle spin"></span></div>
        
    <ul *ngIf="!isLoading" id="home_top_charts" class="list-unstyled card-body">
        <li *ngFor="let chart of listTop" [style.backgroundImage]="'url('+chart.url_image+')'">
            <a routerLink="/top/{{chart.id}}"></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div id="home_bloc_1" class="card mt-3">
    <h3 class="card-header text-center">Top charts</h3>
    <div *ngIf="isLoading" class="content_loading"><span class="icon icon-circle spin"></span></div>
        
    <ul *ngIf="!isLoading" id="home_top_charts" class="list-unstyled card-body">
        <li *ngFor="let chart of listTopCharts" [style.backgroundImage]="'url('+chart.url_image+')'">
            <a routerLink="/top_charts/{{chart.id_top_charts}}">
            <p class="text-center h4">{{chart.nom}}</p></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
    
<div id="home_bloc_2" class="card mt-3">
    <h3 class="card-header text-center">Top albums</h3>
    <div *ngIf="isLoading" class="content_loading"><span class="icon icon-circle spin"></span></div>
    
    <ul *ngIf="!isLoading" id="home_top_albums" class="list-unstyled card-body">
        <li *ngFor="let album of listTopAlbums" [style.backgroundImage]="'url('+album.url_image+')'">
            <a routerLink="/playlist/{{album.id_playlist}}">
                <p class="text-center h5">{{album.titre}}
                    <small *ngIf="album.artiste!==''"><br/> {{album.artiste}}</small>
                </p>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
