.list-group-item {
  min-height: 4rem;

  button {
    height: 3rem;
    min-width: 14rem;
  }

  .form-check-input {
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
  }

  .form-check-input:checked::before {
    transform: translateX(2rem);
  }

  .form-check-input::before {
    width: 1.675rem;
    height: 1.675rem;
    border-radius: 50%;
  }

  .form-check.form-switch {
    margin-right: 4.5rem;
  }
}
